body {
    background: #F2EBE3;
}

footer {
    margin-top: 50px;
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    border: none;

    cursor: pointer;
}

#app {
    font-family: 'Libre Caslon Text', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2C1810;

    max-width: 1024px;

    margin: auto;
}

.button {
    padding: 10px;

    background: #FFFFFF;
    border-radius: 10px;
}

.button--alt {
    background: #F2EBE3;
}

.library__header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding: 10px;
    margin-bottom: 10px;

    background: #F2EBE3;

    border-bottom: 2px solid #2C1810;

    z-index: 5;
}

.library__header--logo {
    color: #2C1810;

    font-size: 18px;

    text-decoration: none;
}

.library__search--input {
    width: 100%;
    padding: 10px;

    background: #FFFFFF;

    border: none;
    border-radius: 999px;

    text-align: center;
}

.library__search--input::placeholder {
    text-align: center;
}

.library__books--favorite {
    position: relative;
    font-family: 'Libre Caslon Text', serif;
}

.library__books-list--favorite {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    padding: 20px;
    margin: 0;

    overflow-x: auto;
    list-style: none;
}

.library__books--favorite__shelf {
    position: absolute;
    top: 100%;
    left: 50%;

    width: 100%;
    height: 40px;

    transform: translate(-50%, -70%);

}

.library__books-item--favorite,
.library__books-item--all {
    position: relative;
}

.library__books-cover--favorite,
.library__books-cover--all {
    width: 150px;

    border-radius: 10px;

    box-shadow: 5px 5px 20px 0 #F0E9E0;

    aspect-ratio: 10/16;

    cursor: pointer;
}

.library__books-badge--favorite,
.library__books-badge--all {
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;

    background: #F0E9E0;
    color: #000;

    border-radius: 0 10px 0 10px;
}

.library__books--all {
    padding: 10px 0 30px;

    margin-top: 50px;

    background: #fff;

    border-radius: 10px;
}

.library__books-list--all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.library__books__details {
    display: flex;
    flex-direction: column;
    gap: 5px;

    max-width: 100px;
    margin-top: 10px;
}

.library__books__details__title,
.library__books__details__author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.library__books__details__title {
    font-size: 14px;
    font-weight: bold;
}

.library__books__details__author {
    font-size: 12px;
}

.library__books-cover--all {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 160px;

    text-transform: uppercase;

    font-size: 56px;
}

.library__books-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #777777;

    opacity: 0.5;

    z-index: 10;
}

.library__books-modal {
    position: fixed;
    top: 50%;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 40px 20px 20px;
    margin: auto;

    max-width: 720px;

    background: #fff;

    border-radius: 10px;

    transform: translateY(-50%);

    box-shadow: 0 0 20px #2C1810;

    z-index: 15;
}

.library__books-modal__close {
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;

    border-radius: 0 10px 0 10px;

    cursor: pointer;
}

.library__books-modal input {
    padding: 15px 15px 15px 20px;

    background: #f3f2f1;

    border: none;
    border-radius: 10px;
}

.library__books-modal__read-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (min-width: 720px) {
    .library__search--input {
        width: 30%;

        margin-bottom: 50px;
    }

    .library__books--favorite {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .library__books--favorite-title {
        margin-left: 50px;
    }
}